.todo-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #000;
    margin-bottom: 5px;
    padding: 10px;
    .btn-handle {
        display: flex;
    }
}